.macque {
    background-image: url('../../assets/images/body-background.jpg');
    background-repeat: repeat;
    margin-bottom: 10%;

}
.centreFrame{
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-bottom: 10%;
}
